<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet" />

<div style="
    background: rgba(0, 0, 0, 0.1);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);

    color: rgb(8, 102, 243);
  " class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div id="two" class="col-lg-7 m-0 my-lg-5 pt-0 pt-lg-5 pr-lg-5 ">
                <h2 style="color: rgb(8, 102, 243)" class="text-rgb(8, 102, 243) text-uppercase font-weight-medium mb-3">
                    STRATEGY
                </h2>

                <p style="color: #ffffff; text-align: justify">
                    is holistic implementation of 17 SDGs and ensure the 169 targets and
                    +400 indicators are achievable within pilot model village (s), mining
                    community, peri - urban and urban set ups. Various C4D Technical
                    Working Groups will ensure relevant national instruments and other
                    international tools are implemented within the confines of the
                    geographic locations of the Models for example ILO Voluntary
                    Guidelines, UN SPHERE Standards, USAID Policy for Youth Development
                    and Gender Analysis.
                </p>

                
            </div>
            <div class="col-lg-5">
                <div class="
            d-flex
            flex-column
            align-items-center
            justify-content-center
            bg-secondary
            h-100
            py-5
            px-3
          ">
                    <lottie-player src="https://assets8.lottiefiles.com/private_files/lf30_mnZRTk.json" background="transparent" speed="1"
                        style="width: 400px; height: 400px;" loop autoplay>
                    </lottie-player>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->

<!-- Features Start -->
<div style="
    background: rgba(0, 0, 0, 0.1);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    color: rgb(8, 102, 243);
  " class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 py-2">
                <!-- Carousel Starts -->

                <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
                    [showNavigationIndicators]="showNavigationIndicators">
                    <ng-template ngbSlide *ngFor="let image of images, index as i, index as j">
                        <div class="picsum-img-wrapper">
                            <img [src]="image" alt="Random slide" />
                        </div>
                        <div style="
      background: rgba(47, 47, 46, 0.25);
box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
backdrop-filter: blur( 10.0px );
-webkit-backdrop-filter: blur( 10.0px );
border-radius: 20px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
      
      "
                         class="carousel-caption">
                            <h3 style="color: rgb(8, 102, 243)">{{ titles [i] }}</h3>
                            <p>{{ discription [j] }}</p>
                        </div>
                    </ng-template>
                </ngb-carousel>

                

                <!-- Carousel End -->
            </div>

            <div id="six" class="col-lg-7 m-0 my-lg-5 pt-0 pt-lg-5 pr-lg-5">
                <h2 style="color: rgb(8, 102, 243)" class="text-rgb(8, 102, 243) text-uppercase font-weight-medium mb-3">
                    TACTICAL APPROACH
                </h2>

                <p style="color: #ffffff; text-align: justify">
                    2 key challenges holding development back for any geo-location in
                    Zimbabwe are; 1) Clean Water and Sanitation 2) Affordable Energy
                    (while these come with various forms and extensions) C4D contends that
                    all other 15 SDGs will be achievable whenever availability of water
                    and energy is guaranteed. We will partner investors, private
                    companies, multi//bi lateral institutions, government, commercial
                    entities, NGOs/CSOs/CBOs and progressive socio-economic formations,
                    borehole drillers, energy producers and installers from either in or
                    outside the country. Together with local citizens led by C4D
                    Technocrats will design business projects that deliver win-win
                    arrangements for investment returns whilst communities transform. C4D
                    will PILOT model village, mining compounds, urban or peri-urban
                    locations to test the best practices before replication. C4D will
                    commission Feasibility Studies and Assessments of at least 8 sites
                    that includes 2 rural, 2 mining areas, 2 peri urban and 2 urban
                    centers whose products will be costed to the cent. After C4D
                    engineers, architects, draughtsmen and women have designed the models
                    we then pitch these up with UNDP, EU, UKAID, USAID and many other
                    progressive institutions, individuals locally and globally.
                    Development actors will pick on what responds to their missions,
                    visions and respective Country Strategy for Zimbabwe. C4D legal,
                    policy administrative Technical Working Groups will prioritize
                    perfecting the models in the first 2 years before accelerated
                    replication in order to have achieved substantial levels of
                    sustainable development in the country by 2030.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->

<!-- Features Start -->
<div style="
    background: rgba(0, 0, 0, 0.1);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    color: rgb(8, 102, 243);
  " class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div id="seven" class="col-lg-7 m-0 my-lg-5 pt-0 pt-lg-5 pr-lg-5">
                <h2 style="color: rgb(8, 102, 243)" class="text-rgb(8, 102, 243) text-uppercase font-weight-medium mb-3">
                    GUIDING PRINCIPLES
                </h2>

                <h3 style="color: rgb(8, 102, 243)" class="display-4 text-start mb-5">
                    C4D will
                </h3>

                <p style="color: #ffffff; text-align: justify">
                    <i style="color: #0866F3" class="fas fa-1x fa-check "></i> Collaborate with honest and trustworthy people to drive the
                    development agenda for Zimbabwe.
                </p>
                <p style="color: #ffffff; text-align: justify">
                    <i style="color: rgb(8, 102, 243)" class="fas fa-1x fa-check "></i> Bring together all people from different walks of life
                    interested. It is therefore envisaged that this development agenda pursued by C4D will be driven by development managers and
                    practitioners.
                </p>
                <p style="color: #ffffff; text-align: justify">
                    <i style="color: rgb(8, 102, 243)" class="fas fa-1x fa-check "></i> Ensure that participating members, including BoD/Advisory and Technical Working Groups will be remunerated according to their
                    terms of reference and level of effort calculated on hours spent for the organization.
                </p>
                <p style="color: #ffffff; text-align: justify">
                    <i style="color: rgb(8, 102, 243)" class="fas fa-1x fa-check "></i> Initiate, engage, partner and transform in partnership with local structures, government and development actors.
                </p>
                <p style="color: #ffffff; text-align: justify">
                    <i style="color: rgb(8, 102, 243)" class="fas fa-1x fa-check "></i> Lead locally led economic development.
                </p>
                <p style="color: #ffffff; text-align: justify">
                    <i style="color: rgb(8, 102, 243)" class="fas fa-1x fa-check "></i> Mobilize internal resources through membership subscriptions to cater for administrative functions and implement initiated
                    development programs and projects.
                </p>

                
            </div>
            <div class="col-lg-5">
                <div class="
            d-flex
            flex-column
            align-items-center
            justify-content-center
            bg-secondary
            h-100
            py-5
            px-3
          ">
                    <i class="fas fa-5x fa-city mb-5"></i>
                    <h1 style="color: rgb(8, 102, 243)" class="display-1 text-rgb(8, 102, 243) mb-3">
                        C4D
                    </h1>
                    <h1 style="color: rgb(255, 255, 255); text-align: center;" class=" m-0"> Is pro Development
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->

<!-- Features Start -->
<div style="
    background: rgba(0, 0, 0, 0.1);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    color: rgb(8, 102, 243);
  " class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 py-2">
                <!-- Carousel Starts -->

                <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
                    [showNavigationIndicators]="showNavigationIndicators">
                    <ng-template ngbSlide *ngFor="let image of images, index as i, index as j">
                        <div class="picsum-img-wrapper">
                            <img [src]="image" alt="Random slide" />
                        </div>
                        <div style="
      background: rgba(47, 47, 46, 0.25);
box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
backdrop-filter: blur( 10.0px );
-webkit-backdrop-filter: blur( 10.0px );
border-radius: 20px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
      
      "
                         class="carousel-caption">
                            <h3 style="color: rgb(8, 102, 243)">{{ titles [i] }}</h3>
                            <p>{{ discription [j] }}</p>
                        </div>
                    </ng-template>
                </ngb-carousel>

                

                <!-- Carousel End -->
            </div>
            <div id="eight" class="col-lg-7 m-0 my-lg-5 pt-0 pt-lg-5 pr-lg-5">
                <h2 style="color: rgb(8, 102, 243)" class="text-rgb(8, 102, 243) text-uppercase font-weight-medium mb-3">
                    EXPECTED RESULTS
                </h2>

                <p style="color: #ffffff; text-align: justify">
                    <i style="color: rgb(8, 102, 243)" class="fas fa-1x fa-check "></i> Sustainable livelihoods decent/dignified lifestyles resulting
                    from increased household opportunities and personal incomes due to
                    widened economic opportunities within local communities.
                </p>
                <p style="color: #ffffff; text-align: justify">
                    <i style="color: rgb(8, 102, 243)" class="fas fa-1x fa-check "></i> Improved local capacities to reduce vulnerabilities to
                    socio-economic, political, environmental, cultural or natural
                    disasters and shocks.
                </p>

                <h2 style="color: rgb(8, 102, 243)" class="text-rgb(8, 102, 243) text-uppercase font-weight-medium mb-3">
                    INDICATORS
                </h2>

                <p style="color: #ffffff; text-align: justify">
                    <i style="color: rgb(8, 102, 243)" class="fas fa-1x fa-check "></i> Central/provincial/local government authorities led by
                    organized citizens on the development initiatives that work for the
                    locals.
                </p>
                <p style="color: #ffffff; text-align: justify">
                    <i style="color: rgb(8, 102, 243)" class="fas fa-1x fa-check "></i> Citizens of different walks of ages motivated to engage in
                    local led development initiatives.
                </p>
                <p style="color: #ffffff; text-align: justify">
                    <i style="color: rgb(8, 102, 243)" class="fas fa-1x fa-check "></i> Increased interest for strategic Public Private Partnerships
                    promoting strong institutions capable of holding accountable
                    duty-bearers to just and fair distribution of national resources.
                </p>
                <p style="color: #ffffff; text-align: justify">
                    <i style="color: rgb(8, 102, 243)" class="fas fa-1x fa-check "></i> Substantial SDGs targets and indicators prove achievable and
                    can be met with more robust programs implementation.
                </p>

               
            </div>
        </div>
    </div>
</div>
<!-- Features End -->

<!-- Features Start -->
<div style="
    background: rgba(0, 0, 0, 0.1);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    color: rgb(8, 102, 243);
  " class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div id="three" class="col-lg-12 m-0 my-lg-5 pt-0 pt-lg-5 pr-lg-5">
                <h2 style="color: rgb(8, 102, 243)" class="text-rgb(8, 102, 243) text-uppercase font-weight-medium mb-3">
                    DESCRIPTION OF MODELS
                </h2>

                <p style="color: #ffffff; text-align: justify">
                    Fragmented and isolated interventions will not help much with holistic
                    development needed in Zimbabwe. Whilst a certain measure of food
                    security and nutrition targets and indicators can be reached through
                    food aid distributions, school feeding schemes or any other piecemeal
                    initiative, where there is no clean water, sanitation and affordable
                    energy at household and community levels gains of the interventions
                    will be eroded. C4D intends to ensure that existing structures at any
                    level are thoroughly evaluated in order to BUILD BACK BETTER around
                    those systems and infrastructures infused with modernized and
                    sustainable technology. Where new systems and infrastructural
                    developments are to be erected, constructed or established that’s the
                    purpose for C4D technical working groups. Feasibility Study Teams and
                    engineers should look at the big picture; For example, two rural
                    geo-locations of Gokwe North and Chibi-Mwenezi come into mind. How can
                    Tokwe-Mukosi dam complimented by Manyuchi dam be fully utilized to
                    agriculturally transform the semi-arid districts of the lowveld
                    including Chiredzi, Triangle and Chikombedzi.<br />
                    There is huge economic potential undermined by political gamesmanship.
                    The railway and road infrastructure from inland Zimbabwe to Maputo
                    port could be modernized. Tourism connecting the Gonarezhou with
                    Limpopo TransFrontier Parks of Kruger and Banhine-Limpopo in RSA and
                    Mozambique is a game-changer. Close to 100 000 households could be
                    transformed by C4D concept. Juxtaposition the above with Gokwe North
                    Rural which literally is the breadbasket for the Midlands but has no
                    roads, no water, no electricity connection, not even a technical
                    college, but dysfunctional resettlement scheme, underutilized cotton
                    ginnery with the other company known as GMB because Copper Queen Mine
                    was syphoned dry, Sengwa Coal Mine went under with the frustration
                    that visited RioZim. Wild animals kill more people’s livelihoods than
                    droughts. Children drop out of school in preference for artisanal
                    mining because their role models brothers and sisters are machete
                    wielding champions hoping from one treacherous disused mine shaft to
                    other. If we were to build Chipinge Chimanimani back better what will
                    be involved? How about mining towns and cities littered across the
                    country? Better qualified technocrats will have a better say than most
                    of us.
                </p>

                <h2 style="color: rgb(8, 102, 243)" class="text-rgb(8, 102, 243) text-uppercase font-weight-medium mb-3">
                    PROJECT ANCHORS
                </h2>

                <!---->
                <div class="row">
                    <div class="col-sm-6 mb-4">
                        <h1  data-toggle="counter-up">
                            <i style="color: rgb(8, 102, 243)" class="fas fa-users"></i>
                        </h1>
                        <h4 class="font-weight-bold">Board of Directors /Advisory</h4>
                    </div>
                    <div class="col-sm-6 mb-4">
                        <h1  data-toggle="counter-up">
                            <i style="color: rgb(8, 102, 243)" class="fas fa-users-cog "></i>
                        </h1>
                        <h4 class="font-weight-bold">Technical Working Groups</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 py-2">
                <!-- Carousel Starts -->

                <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
                    [showNavigationIndicators]="showNavigationIndicators">
                    <ng-template ngbSlide *ngFor="let image of images, index as i, index as j">
                        <div class="picsum-img-wrapper">
                            <img [src]="image" alt="Random slide" />
                        </div>
                        <div style="
      background: rgba(47, 47, 46, 0.25);
box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
backdrop-filter: blur( 10.0px );
-webkit-backdrop-filter: blur( 10.0px );
border-radius: 20px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
      
      "
                         class="carousel-caption">
                            <h3 style="color: rgb(8, 102, 243)">{{ titles [i] }}</h3>
                            <p>{{ discription [j] }}</p>
                        </div>
                    </ng-template>
                </ngb-carousel>

                

                <!-- Carousel End -->
            </div>
        </div>
    </div>
</div>
<!-- Features End -->
