<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet" />
<section class="welcome" data-scroll-index='0'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
             <div class="welcome-content text-center">
                 
              <img style="border-radius: 100px;" src="assets/images/logo.jpg"  width="50%" height="50%"> 
               <h1>Christine Nhamo</h1>
               <h2>International Law lawyer</h2>
               <p style="font-size:1.2rem;">I am an International Law degree holder, an Author of 5 books, TV Personality, Social Activist, Human Rights Defender,
            Legal Advisor, Radio Presenter, Counsellor, Graphic designer, Motivational Speaker, Humanitarian, Certified English
            Teacher, Translator, Founder and Director of a Zimbabwean Magazine called ‘Zim Influencers Magazine’ as well as a
            managing director of Zim Talks Broadcasting Company.</p>
               
             
               <p>
                 <a style="align-items: center;" href="https://af.linkedin.com/in/nurmuhmd" target="_blank" class="btn btn-primary social-button"><i class="fab fa-2x fa-linkedin"></i></a>
                 <a href="https://www.github.com/noorsheikh" target="_blank" class="btn btn-primary social-button"><i class="fab fa-2x fa-facebook"></i></a>
                 <a href="https://www.codepen.io/noorsheikh" target="_blank" class="btn btn-primary social-button"><i class="fab fa-2x fa-instagram"></i></a>
                 <a href="https://af.linkedin.com/in/nurmuhmd" target="_blank" class="btn btn-primary social-button"><i class="fab fa-2x fa-twitter"></i></a>

               </p>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="hr-line1">
      </div>
    </div>
  </div>
</section>
<section id="welcome" class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <li class="fa fa-newspaper-o fa-2x text-center" aria-hidden="true"></li>
        <h5 class="text-center">Web Site</h5>
        <p class="text-center">Build best web applications from scratch on client need bases</p>
      </div>
      <div class="col-md-3 text-center">
        <li class="fa fa-language fa-2x text-center" aria-hidden="true"></li>
        <h5 class="text-center">Web Application</h5>
        <p class="text-center">Build custom integrated web applications with Back-end server</p>
      </div>
      <div class="col-md-3 text-center">
        <li class="fa fa-object-group fa-2x text-center" aria-hidden="true"></li>
        <h5 class="text-center">UX/UI Design</h5>
        <p class="text-center">Provide solutions for better eye catching UI design for users interaction</p>
      </div>
      <div class="col-md-3 text-center">
        <li class="fab fa-wordpress fa-2x text-center" aria-hidden="true"></li>
        <h5 class="text-center">CMS Building</h5>
        <p class="text-center">Build content management systems based on Joomla, Wordpress and Drupal</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="hr-line1">
      </div>
    </div>
  </div>
</section>
<section id="welcome" class="profile" data-scroll-index='1'>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3 class="head-bar"><i class="fa fa-user"></i> About Me</h3>
        <p class="justify-content-center">Due to my ambitious and self-driven character, I do stand in many pedestals wearing different hats. I strongly believe
        in living a principled life, that directly marks a solid positive impact in the world. My desire is to sit at a round
        table deciding on the betterment of our tomorrow.</p>
        <p>. I believe that I am a vehicle of change and I am equipped with many different abilities to spread the contagious
        positivity rooted in me. Being born in a third world country is not a barrier, I was born to make a difference and to
        make the world a better place. I’m determined to inspire people who are buried on the other side of hope.</p>
        <p>My everyday motivation comes from my belief that, if the world can’t offer me on a silver platter, how about I create my
        own salvation. I believe everyone was destined for greatness, but it only depends on how far you’re willing to go and
        how much knowledge you’re willing to acquire along the way (Knowledge is Power).</p>
        <a style="color:#1b004e; text-decoration: none; margin-botton: 10px;" href="https://en.everybodywiki.com/Christine_Nhamo">Click here to learn more</a> 
      </div>
      <div class="col-md-4">
        
        <div  class="col-md-12">
          <div >
            <img style="border-radius: 5px; " src="assets/images/logo.jpg" width="100%" height="100%">
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="hr-line2">
      </div>
    </div>
  </div>
</section>
<section id="welcome" class="resume" data-scroll-index='2'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="head-bar"><i class="fa fa-book"></i> Education</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <article class="education">
          <h1>Free Code Camp <span class="label label-default">2016 - 2017</span></h1>
          <h2>Certification <small>Full Stack Web Development</small></h2>
          <h3>Software Engineering</h3>
        </article>
        <article class="education">
          <h1>American University of Afghanistan <span class="label label-default">2009 - 2010</span></h1>
          <h2>Certification <small>Foundation Studies Program</small></h2>
          <h3>English & Mathematics</h3>
        </article>
      </div>
      <div class="col-md-6">
        <article class="education">
          <h1>American University of Afghanistan <span class="label label-default">2010 - 2015</span></h1>
          <h2>Bachelor Degree <small>Computer Science</small></h2>
          <h3>Computer Programming</h3>
        </article>
        <article class="education">
          <h1>Habibia High School <span class="label label-default">2005 - 2008</span></h1>
          <h2>Baccalaureate <small>High School Graduation</small></h2>
          <h3>Genral Science</h3>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="head-bar"><i class="fa fa-briefcase"></i> Work</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <article class="work">
          <h1>Checchi and Company Consulting Inc. <span class="label label-default">Jun 2014 - Present</span></h1>
          <h2>System Developer</h2>
          <p>Checchi and Company Consulting, Inc. provides technical assistance, training and management services to promote social and economic development to help better the lives of people in developing and transitional nations.</p>
          <h4>Responsibilities & Achievements:</h4>
          <ul>
            <li>Development, installation and maintenance of online M&E data management systems for collecting the field data including field surveys, events monitoring data from field around the country.</li>
            <li>Querying the databases on need bases for data analysis through data reporting, statistical record generation and visualizing the collected data.</li>
            <li>Development of on call database systems, websites and other technology related task assigned by supervisor.</li>
            <li>Development of mobile applications for field data collection and gender awareness campaign.</li>
          </ul>
        </article>
        <article class="work">
          <h1>FirstRate Afghanistan <span class="label label-default">Aug 2012 - Dec 2012</span></h1>
          <h2>Intern Software / Web Application Developer</h2>
          <p>In 2007, First Rate Afghanistan was established and registered with AISA. FirstRate have been growing and expanding into a leading IT/Tech company in Afghanistan FirstRate team of software engineers, web experts, and IT professionals provide its clients and customers around the world with professional, reliable, and cutting edge technology solutions.</p>
          <h4>Responsibilities & Achievements:</h4>
          <ul>
            <li>Working as a Software / Web Application Developer.</li>
          </ul>
        </article>
      </div>
      <div class="col-md-6">
        <article class="work">
          <h1>Freelancer <span class="label label-default">2011 - Present</span></h1>
          <h2>Web & Database Developer</h2>
          <p>Since 2011 I am working as a web and database developer. I have developer many websites and databases for Governmental, Non For Profit and Private sectors.</p>
        </article>
        <article class="work">
          <h1>FirstRate Afghanistan <span class="label label-default">Dec 2012 - Jun 2014</span></h1>
          <h2>Software Engineer</h2>
          <p>In 2007, First Rate Afghanistan was established and registered with AISA. FirstRate have been growing and expanding into a leading IT/Tech company in Afghanistan FirstRate team of software engineers, web experts, and IT professionals provide its clients and customers around the world with professional, reliable, and cutting edge technology solutions.</p>
          <h4>Responsibilities & Achievements:</h4>
          <ul>
            <li>Analyzing, designing and developing mobile and web based applications.</li>
            <li>Implementing completed projects and providing accessibility and maintenance to the customers.</li>
            <li>Writing user manual, documentation for products and providing training to the users.</li>
            <li>Full stack front-end and back-end programming</li>
          </ul>
        </article>
        <article class="work">
          <h1>Awaz News Agency <span class="label label-default">Apr 2012 - Jul 2012</span></h1>
          <h2>Web Developer</h2>
          <p>In 2007, First Rate Afghanistan was established and registered with AISA. FirstRate have been growing and expanding into a leading IT/Tech company in Afghanistan FirstRate team of software engineers, web experts, and IT professionals provide its clients and customers around the world with professional, reliable, and cutting edge technology solutions.</p>
          <h4>Responsibilities & Achievements:</h4>
          <ul>
            <li>Developing social networks UI and back-end functionalities</li>
            <li>Websites traffic growth and advertising brand</li>
            <li>Comprehensive content management systems development and security firewall implementation on social network sites</li>
            <li>Websites maintenance, troubleshooting and implementation on live servers</li>
          </ul>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="hr-line2">
      </div>
    </div>
  </div>
</section>
<section id="welcome" class="portfolio" data-scroll-index='3'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="head-bar"><i class="fa fa-book"></i>Portfolio</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img style="border-radius: 5px;" src="assets/images/logo.jpg" width="100%" alt="Thumbnail">
          <div class="caption text-center">
            <h3>Project One</h3>
            <p>This is a sample project description. You can give here a description about the project you worked and technologies you covered in it.</p>
            <p>
              <a style="background-color:#5303e749;" href="#" class="btn btn-primary thumbnail-button" role="button">View Details</a>   
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img style="border-radius: 5px;" src="assets/images/logo.jpg" width="100%" alt="Thumbnail">
          <div class="caption text-center">
            <h3>Project Two</h3>
            <p>This is a sample project description. You can give here a description about the project you worked and technologies you covered in it.</p>
            <p>
              <a style="background-color:#5303e749;" href="#" class="btn btn-primary thumbnail-button" role="button">View Details</a>   
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img style="border-radius: 5px;" src="assets/images/logo.jpg" width="100%" alt="Thumbnail">
          <div class="caption text-center">
            <h3>Project Three</h3>
            <p>This is a sample project description. You can give here a description about the project you worked and technologies you covered in it.</p>
            <p>
              <a style="background-color:#5303e749;" href="#" class="btn btn-primary thumbnail-button" role="button">View Details</a>   
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img style="border-radius: 5px;" src="assets/images/logo.jpg" width="100%" alt="Thumbnail">
          <div class="caption text-center">
            <h3>Project Four</h3>
            <p>This is a sample project description. You can give here a description about the project you worked and technologies you covered in it.</p>
            <p>
              <a style="background-color:#5303e749;" href="#" class="btn btn-primary thumbnail-button" role="button">View Details</a>   
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img style="border-radius: 5px;" src="assets/images/logo.jpg" width="100%" alt="Thumbnail">
          <div class="caption text-center">
            <h3>Project Five</h3>
            <p>This is a sample project description. You can give here a description about the project you worked and technologies you covered in it.</p>
            <p>
              <a style="background-color:#5303e749;" href="#" class="btn btn-primary thumbnail-button" role="button">View Details</a>   
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img style="border-radius: 5px;" src="assets/images/logo.jpg" width="100%" alt="Thumbnail">
          <div class="caption text-center">
            <h3>Project Six</h3>
            <p>This is a sample project description. You can give here a description about the project you worked and technologies you covered in it.</p>
            <p>
              <a style="background-color:#5303e749;" href="#" class="btn btn-primary thumbnail-button" role="button">View Details</a>   
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
